<section>
  <p>
    Forgot to add something to your cart? Shop around then come back to pay!
  </p>
  <a
    href="<%= appUrl %>"
    style="
      color: #fff;
      background-color: #9b917d;
      border-radius: 5px;
      padding: 10px 8px;
    "
    >Back to home</a
  >
</section>
